In [41]:
import customtkinter
from keras.models import load_model
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np

In [3]:
model=load_model("C:\\Users\\Lenovo\\AI project\\LoanBankPrediction\\Saved model\Aimodel.keras")

In [4]:
loan=pd.read_excel("Dataset/Bank_Personal_Loan_Modelling.xlsx")
loan.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [15]:
loan["Education"]=loan["Education"].map({1:"Undergrade",2:"Graduate",3:"Advanced/Professional"})

In [16]:
loan.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,Undergrade,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,Undergrade,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,Undergrade,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,Graduate,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,Graduate,0,0,0,0,0,1

In [5]:
data_column=loan.columns
data_column=data_column.delete(9)
data_column=data_column.delete(0)
data_column=data_column.delete(1)
data_column=data_column.delete(2)
data_column

Index(['Age', 'Income', 'Family', 'CCAvg', 'Education', 'Mortgage',
       'Securities Account', 'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [58]:
app=customtkinter.CTk()
# center the ctk window
screen_width = app.winfo_screenwidth()
screen_height = app.winfo_screenheight()

w = 700
h = 450

a = (screen_width / 2) - (w / 2)
b = (screen_height / 2) - (h / 2)

app.geometry("%dx%d+%d+%d" % (w, h, a, b))

app.title("Loan Bank Prediction")

def makePrediction():
    
    for k in range(len(entry_variables1)):
        entry_variables1[k].set(entries1[k].get())

    for k in range(len(entry_variables2)):
        entry_variables2[k].set(entries2[k].get())

    test_list=[]
    for i in entry_variables1:
        test_list.append(i.get())
    for j in entry_variables2:
        test_list.append(j.get())

    number_feature_idx=[0,1,2,3,5]

    
    for feature in range(len(test_list)):
        if feature in number_feature_idx:
            test_list[feature]=float(test_list[feature])

    family_dummy=pd.get_dummies(data=loan["Family"],dtype="int8").columns
    education_dummy=pd.get_dummies(data=loan["Education"],dtype="int8").columns

    for i in range(len(family_dummy)):
        if family_dummy[i]==test_list[2]:
            test_list.append(1)
        else:
            test_list.append(0)

    
    for i in range(len(education_dummy)):
        if education_dummy[i]==test_list[4]:
            test_list.append(1)
        else:
            test_list.append(0)

    test_list.pop(2)
    test_list.pop(3)

     
    for feature in range(len(test_list)):
        test_list[feature]=float(test_list[feature])

    x_test=np.array(test_list)

    x_test = x_test.reshape(1, -1)


    
    predection=model.predict(x_test)

    toplevel_window=customtkinter.CTkToplevel()

    if predection[0][0]>0.5:
        toplevel_label=customtkinter.CTkLabel(toplevel_window,text=f"He will take the loan")
    else:
         toplevel_label=customtkinter.CTkLabel(toplevel_window,text=f"He will Not take the loan")
    toplevel_label.grid(row=0,column=0,padx=30,pady=30)

    


    


entry_variables1=[None]*5
entry_variables2=[None]*5
entries1=[]
entries2=[]

for i,value in enumerate(data_column[0:5]):
    label=customtkinter.CTkLabel(app,text=value)
    label.grid(row=i,column=0,padx=20,pady=20)

    entry_variables1[i]=customtkinter.StringVar()
    entry=customtkinter.CTkEntry(app,textvariable=entry_variables1[i])
    entry.grid(row=i,column=1,padx=20,pady=20)
    entries1.append(entry)

for i,value in enumerate(data_column[5:11]):
    label=customtkinter.CTkLabel(app,text=value)
    label.grid(row=i,column=2,padx=20,pady=20)

    entry_variables2[i]=customtkinter.StringVar()
    entry=customtkinter.CTkEntry(app,textvariable=entry_variables2[i])
    entry.grid(row=i,column=3,padx=20,pady=20)
    entries2.append(entry)

predict_button=customtkinter.CTkButton(app,text="Predict",command=makePrediction)
predict_button.grid(row=11,column=2,padx=(0,80),pady=10)



app.mainloop()

Index([1, 2, 3, 4], dtype='int64')
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
[[0.9999992]]